
<IfModule mod_rewrite.c>

RewriteEngine on

RewriteRule ^render/?$ run.php [NC,L]
RewriteRule ^codesource/?$ source.php [NC,L]
RewriteRule ^\+$ https://plus.google.com/117163653075790353637/ [R,L,B]

</IfModule>

